/* Departure Mono. Copyright 2022–2024 Helena Zhang. SIL OFL 1.1. See THIRD_PARTY_NOTICES.md.
   One Regular cut. Extra weights reuse it so Type specimens do not faux-bold. */
@font-face {
  font-family: "Departure Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./DepartureMono-Regular.woff2") format("woff2"),
    url("./DepartureMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Departure Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("./DepartureMono-Regular.woff2") format("woff2"),
    url("./DepartureMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Departure Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./DepartureMono-Regular.woff2") format("woff2"),
    url("./DepartureMono-Regular.woff") format("woff");
}
